{% load staticfiles %}
<!doctype html>

<head>
  <title>Bora lá</title>
  <meta name = "viewport" content = "width = device-width, initial-scale = 1">
  <link rel = "stylesheet"
        href = "https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel = "stylesheet"
        href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
  </script>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width" />
<meta http-equiv="refresh" content="2;url={% url 'hack:home' %}">

<!-- Bootstrap core CSS     -->
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/paper-kit.css?v=2.1.0' %}" rel="stylesheet" />

<!--     Fonts and icons     -->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet">

<link rel="stylesheet" href="{% static 'assets/css/register.css' %}">

<style>
.nav {
  background-color: #f0f0f1 !important;
}

</style>
</head>

<body>

  <center>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br>
    <img src="https://i.imgur.com/Wta3jGA.png" width="250px" align="middle">
  </center>

</body>
